<header class="cabecalho">
 <div class="logo">
  <img src="../../../assets/imagens-angular/Imagens do curso/logo-memoteca.png" alt="Logo da apliucação memoteca">
 <p>Guarde trechos de músicas, citações de livros, pensamentos e suas melhores ideias </p>
 </div>
 <ul class="nav-list">
    <li><a class="nav-link" routerLink="/citacoes-filosoficas" routerLinkActive="nav-link-active">Citações-Filosoficas</a></li>
 </ul>
 <img class="imagem" src="../../../assets/imagens-angular/Imagens do curso/computador-cabecalho.png" alt="Imagem de um computador">
</header>
